* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --color-primary-1: #000;
  --color-primary-2: #b8bac5;
  --color-primary-3: #f1f4f5;
  --color-mejor-1: #103c82;
  --color-mejor-2: #fa533c;
  --color-mejor-3: #e8e7f6;
  --color-mejor-4: #fbe9e5;
  --color-bg: #d8e0e4;
  --color-white: #fff;
}

#loading {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  display: none;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-180deg);
  }

  75% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.wrapper {
  background: var(--color-primary-3);
  border: 1px solid transparent;
  position: relative;
}

.container {
  width: 90%;
  margin: 0 auto;
}

header {
  .header__wrap {
    .header__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: fixed;
      width: 90%;
      top: 0;
      z-index: 1;
      background: var(--color-primary-3);
      padding: 0 20px;

      .header__left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        .header__logo {
          margin: 30px 0;
          padding-right: 15px;

          a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: var(--color-primary-1);

            i {
              font-size: 20px;
              text-align: center;
              line-height: 30px;
              width: 30px;
              height: 30px;
              margin-right: 10px;
              color: var(--color-primary-3);
              background-color: var(--color-primary-1);
              border-radius: 50%;
            }

            h2 {
              font-size: 22px;
              line-height: 30px;
              font-weight: 400;
              color: var(--color-mejor-1);
              background-color: #efefef;
              border: 2px solid var(--color-mejor-1);
              padding: 0.25rem 0.5rem;
              border-radius: 10px;
              transition: background-color 300ms ease, color 300ms ease;

              &:hover,
              &:focus {
                background-color: var(--color-mejor-1);
                color: var(--color-white);
              }
            }
          }
        }

        .header__type {
          display: flex;

          h3 {
            font-size: 30px;
            font-weight: 400;
            margin-right: 5px;
            padding-right: 10px;
            position: relative;
          }

          & h3::before {
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            height: 50%;
            width: 2px;
            background: var(--color-primary-2);
            vertical-align: middle;
          }

          p {
            font-size: 12px;
            font-weight: 700;
            line-height: 15px;
            transform: translateY(15%);
            padding-left: 10px;
            color: var(--color-primary-2);
          }
        }
      }

      .header__right {
        transition: all 0.3s;
        cursor: pointer;

        i {
          font-size: 25px;
          position: relative;
          color: var(--color-primary-2);
        }

        .number__cart {
          width: 15px;
          height: 15px;
          background: var(--color-mejor-2);
          text-align: center;
          line-height: 15px;
          font-size: 12px;
          font-weight: 700;
          position: absolute;
          top: -5px;
          right: -5px;
          border-radius: 6px;
          color: var(--color-primary-3);
        }

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

.product__section {
  margin-top: 90px;

  .product__content {
    border-radius: 50px;
    background: var(--color-white);
    padding: 50px;
    margin-bottom: 50px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
      rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

    .product__top {
      display: flex;
      justify-content: space-between;

      .product__top-title {
        flex: 3;

        h2 {
          font-size: 70px;
          margin-block-end: -16px;
        }

        p {
          font-size: 25px;
        }
      }

      .product__top-info {
        display: flex;
        justify-content: space-between;
        flex: 2;

        .product__top-img img {
          align-self: end;
          height: 150px;
          width: 100%;
          vertical-align: middle;
        }

        .product__top-more {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 10px 0;
          padding: 0 20px;
          color: var(--color-white);
          background-color: var(--color-mejor-1);
          border-radius: 20px;
          border: 1px solid transparent;
          cursor: pointer;
          transition: all 0.5s;

          &:hover {
            background-color: var(--color-primary-3);
            color: var(--color-mejor-1);
          }

          p {
            font-size: 18px;
            font-weight: 700;
            text-align: left;
          }

          .product__top-icon {
            height: 25px;
            width: 25px;
            font-size: 14px;
            border-radius: 50px;
            background-color: var(--color-white);
            color: var(--color-primary-1);
            line-height: 25px;
            text-align: center;
            margin-top: 10px;

            &:hover {
              background-color: var(--color-primary-1);
              color: var(--color-primary-3);
            }
          }
        }
      }
    }

    .product__select {
      select {
        font-size: 25px;
        font-weight: 700;
        padding: 10px 15px;
        border: 2px solid var(--color-mejor-1);
        color: var(--color-mejor-1);
        border-radius: 10px;

        option {
          font-size: 25px;
        }
      }
    }

    .product__body {
      margin-top: 30px;

      #product__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        .product__item {
          background-color: var(--color-white);
          height: 750px;
          padding: 30px 20px;
          border-radius: 15px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
            rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          cursor: pointer;
          transition: all 0.5s;
          position: relative;

          &:hover {
            transform: translateY(-20px);
          }

          .product__item-img {
            margin-bottom: 15px;
            img {
              width: 100%;
              aspect-ratio: 1/1;
              object-fit: cover;
              border-radius: 20px;
            }
          }

          .product__item-detail {
            h2 {
              color: var(--color-mejor-1);
            }

            h3 {
              padding-bottom: 15px;
              color: var(--color-mejor-2);

              span {
                color: rgba($color: #000, $alpha: 0.5);
              }
            }

            p {
              line-height: 2;
              span {
                font-weight: 700;
                color: var(--color-mejor-1);
              }
            }

            .product__desc {
              height: 62px;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          .product__cart-btn {
            button {
              position: absolute;
              right: 20px;
              bottom: 30px;
              margin-top: 20px;
              padding: 10px 15px;
              border-radius: 6px;
              border: 1px solid transparent;
              color: var(--color-mejor-4);
              background: var(--color-mejor-1);
              font-size: 16px;
              cursor: pointer;
              transition: all 0.5s;

              &:hover {
                color: var(--color-mejor-1);
                background: var(--color-mejor-4);
              }
            }
          }
        }
      }
    }
  }
}

#cartshow {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 40vw;
  background-color: rgba(16, 60, 130, 0.9);
  color: var(--color-primary-3);
  z-index: 2;
  text-align: center;
  display: none;
  animation: showCart 0.1s linear;

  .cart__header {
    position: relative;
    border-bottom: 2px solid var(--color-primary-3);

    h2 {
      font-size: 30px;
      font-weight: 400;
      margin: 10px;
    }

    i {
      font-size: 30px;
      position: absolute;
      top: 10%;
      right: 20px;
      cursor: pointer;
    }
  }

  .cart__body {
    margin-top: 10px;
    padding: 0 10px;
    table {
      width: 100%;
      tbody {
        tr {
          td {
            img {
              width: 70px;
              aspect-ratio: 1/1;
              object-fit: cover;
              border-radius: 15px;
              transition: all 0.5s;
            }

            button {
              font-size: 16px;
              padding: 5px 10px;
              border-radius: 6px;
              border: 1px solid transparent;
              color: var(--color-primary-3);
              background-color: var(--color-mejor-2);
              cursor: pointer;
              transition: all 0.5s;

              &:hover {
                color: var(--color-mejor-2);
                background-color: var(--color-primary-3);
              }
            }
          }

          .btn__volumn-wrap {
            height: 77px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            #btn__volumn {
              color: var(--color-primary-3);
              background-color: var(--color-mejor-1);
              cursor: pointer;
              transition: all 0.5s;

              &:hover {
                color: var(--color-mejor-1);
                background-color: var(--color-mejor-3);
                transform: scale(1.1);
              }
            }
          }

          &:hover td img {
            transform: scale(1.1);
          }
        }
      }
    }

    p {
      font-size: 20px;
      padding: 0 15px;
    }
  }

  .cart__footer {
    border-top: 2px solid var(--color-primary-3);
    position: absolute;
    right: 20px;
    bottom: 30px;
    text-align: end;
    .cart__total {
      h3 {
        font-size: 25px;
        font-weight: 400;
        margin: 15px 0;
      }
    }

    .cart__btns {
      margin-top: 20px;

      button {
        font-size: 20px;
        padding: 10px 20px;
        margin-left: 10px;
        color: var(--color-mejor-1);
        background-color: var(--color-primary-3);
        border: 2px solid transparent;
        border-radius: 10px;
        cursor: pointer;

        i {
          margin-left: 8px;
        }
      }

      .cart__purchase {
        color: var(--color-mejor-2);
        transition: all 0.5s;

        &:hover {
          background-color: var(--color-mejor-2);
          color: var(--color-primary-3);
        }
      }

      .cart__clear {
        transition: all 0.5s;

        &:hover {
          background-color: var(--color-mejor-1);
          color: var(--color-primary-3);
          border: 2px solid var(--color-primary-3);
        }
      }
    }
  }
}

@keyframes showCart {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    width: 40vw;
  }
}

#verify {
  position: relative;
  display: none;

  .verify__wrap {
    position: fixed;
    top: 0px;
    bottom: 0px;
    width: 100vw;
    background-color: rgba(16, 60, 130, 0.9);
    color: var(--color-primary-3);
    z-index: 2;
    text-align: left;
    padding: 30px 40px;
  }

  .verify__list {
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    border-bottom: 2px solid var(--color-primary-3);

    table {
      width: 100%;
      tbody {
        tr {
          td {
            padding: 5px 0;
            img {
              width: 70px;
              border-radius: 15px;
              aspect-ratio: 1/1;
              object-fit: cover;
              transition: all 0.5s;
            }
          }

          .verify__price {
            text-align: center;
          }

          &:hover td img {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .verify__info {
    width: 90%;
    font-size: 18px;
    margin-top: 20px;
    padding: 0px 10px;

    .payment__total {
      display: flex;
      justify-content: space-between;
    }
  }

  .verify__btns {
    position: absolute;
    bottom: 30px;
    left: 40px;

    button {
      font-size: 20px;
      padding: 10px 20px;
      margin-left: 10px;
      color: var(--color-mejor-1);
      background-color: var(--color-primary-3);
      border: 2px solid transparent;
      border-radius: 10px;
      cursor: pointer;
    }

    #order {
      color: var(--color-mejor-2);
      transition: all 0.5s;

      &:hover {
        background-color: var(--color-mejor-2);
        color: var(--color-primary-3);
      }
    }

    #cancel {
      transition: all 0.5s;

      &:hover {
        background-color: var(--color-mejor-1);
        color: var(--color-primary-3);
        border: 2px solid var(--color-primary-3);
      }
    }
  }
}

#purchase {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 9;
  display: none;

  .purchase__wrap {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    width: 600px;
    background-color: rgba(16, 60, 130, 0.95);
    color: var(--color-primary-3);
    padding: 30px 40px;
    margin: 0 auto;
    left: 0;
    right: 0;
    align-self: center;
    flex-direction: column;
    border-radius: 20px;
    z-index: 5;

    h2 {
      font-weight: 700;
    }

    p {
      font-size: 20px;
      line-height: 2.5;
      border-bottom: 2px dashed #000;
    }

    button {
      margin-top: 20px;
      font-size: 20px;
      padding: 10px 20px;
      margin-left: 10px;
      background-color: var(--color-primary-3);
      border: 2px solid transparent;
      border-radius: 10px;
      cursor: pointer;
      color: var(--color-mejor-2);
      font-weight: 700;
      transition: all 0.5s;

      &:hover {
        background-color: var(--color-mejor-2);
        color: var(--color-primary-3);
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  header {
    .header__wrap {
      .header__content {
        .header__left {
          width: 65%;
        }
      }
    }
  }

  .product__section {
    .product__content {
      padding: 40px;
      .product__top {
        .product__top-title {
          h2 {
            font-size: 65px;
            margin-block-end: -14px;
          }

          p {
            font-size: 22px;
          }
        }

        .product__top-info {
          .product__top-img img {
            height: 145px;
            width: auto;
          }

          .product__top-more {
            padding: 0 24px;

            p {
              font-size: 16px;
            }

            .product__top-icon {
              height: 23px;
              width: 23px;
              font-size: 13px;

              line-height: 23px;
            }
          }
        }
      }

      .product__select {
        select {
          font-size: 22px;

          option {
            font-size: 22px;
          }
        }
      }

      .product__body {
        #product__list {
          grid-template-columns: repeat(3, 1fr);

          .product__item {
            height: 700px;
            padding: 0px 20px;
            margin-bottom: 30px;

            .product__item-detail {
              h2 {
                // font-size: 22px;
              }

              h3 {
                // font-size: 17px;
              }

              p {
                // font-size: 15px;
                line-height: 2;
              }
            }

            .product__item-img {
              margin-top: 30px;
            }
          }
        }
      }
    }
  }

  #cartshow {
    height: 100vh;
    width: 40vw;
    display: none;

    .cart__header {
      h2 {
        font-size: 25px;
        margin: 10px 0;
      }

      i {
        font-size: 25px;
        top: 10%;
        right: 20px;
      }
    }

    .cart__body {
      p {
        font-size: 18px;
        padding: 0 15px;
      }
    }

    .cart__footer {
      right: 15px;
      bottom: 25px;
      text-align: end;
      .cart__total {
        h3 {
          font-size: 22px;
          font-weight: 400;
          margin: 15px 0;
        }
      }

      .cart__btns {
        margin-top: 18px;

        button {
          font-size: 18px;
          padding: 8px 18px;
          margin-left: 8px;

          i {
            font-size: 15px;
            margin-left: 8px;
          }
        }
      }
    }
  }

  #verify {
    .verify__wrap {
    }

    .verify__btns {
      button {
        font-size: 18px;
        padding: 10px 20px;
        margin-left: 10px;
        color: var(--color-mejor-1);
        background-color: var(--color-primary-3);
        border: 2px solid transparent;
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header {
    .header__wrap {
      .header__content {
        .header__left {
          width: 75%;

          .header__type {
            display: flex;

            h3 {
              font-size: 26px;
            }

            p {
              font-size: 11px;
            }
          }
        }

        .header__right {
          transition: all 0.3s;
          cursor: pointer;

          i {
            font-size: 22px;
          }

          .number__cart {
            width: 13px;
            height: 13px;
            line-height: 13px;
            font-size: 11px;
          }
        }
      }
    }
  }

  .product__section {
    .product__content {
      padding: 30px;
      .product__top {
        .product__top-title {
          flex: 4;
          h2 {
            font-size: 63px;
            margin-block-end: -14px;
          }

          p {
            font-size: 20px;
          }
        }

        .product__top-info {
          flex: 3;
          .product__top-img img {
            height: 135px;
            width: auto;
          }

          .product__top-more {
            padding: 0 22px;

            p {
              font-size: 16px;
            }

            .product__top-icon {
              height: 23px;
              width: 23px;
              font-size: 13px;

              line-height: 23px;
            }
          }
        }
      }

      .product__select {
        select {
          font-size: 20px;

          option {
            font-size: 20px;
          }
        }
      }

      .product__body {
        #product__list {
          grid-template-columns: repeat(3, 1fr);

          .product__item {
            height: 650px;
            padding: 0px 20px;
            margin-bottom: 30px;

            .product__item-detail {
              h2 {
                font-size: 22px;
              }

              h3 {
                font-size: 17px;
              }

              p {
                font-size: 15px;
                line-height: 1.6;
              }
            }

            .product__item-img {
              margin-top: 30px;
            }

            .product__cart-btn {
              button {
                padding: 10px 15px;

                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }

  #cartshow {
    height: 100vh;
    width: 100vw;
    display: none;

    .cart__header {
      h2 {
        font-size: 23px;
        margin: 8px 0;
      }

      i {
        font-size: 23px;
        top: 10%;
        right: 20px;
      }
    }

    .cart__body {
      p {
        font-size: 16px;
        padding: 10px 15px;
      }
    }

    .cart__footer {
      right: 15px;
      bottom: 25px;
      text-align: end;
      .cart__total {
        h3 {
          font-size: 20px;
          font-weight: 400;
          margin: 13px 0;
        }
      }

      .cart__btns {
        margin-top: 15px;

        button {
          font-size: 16px;
          padding: 7px 16px;
          margin-left: 8px;

          i {
            font-size: 15px;
            margin-left: 8px;
          }
        }
      }
    }
  }

  .verify {
    .verify__wrap {
      padding: 20px 30px;
    }

    .verify__list {
      display: flex;
      justify-content: space-between;
      padding: 0 15px;
      border-bottom: 2px solid var(--color-primary-3);

      p {
        font-size: 18px;
        font-weight: 700;
        padding: 10px 0;
      }
    }

    .verify__info {
      font-size: 16px;
      margin-top: 20px;
      padding: 0px 10px;
    }

    .verify__btns {
      position: absolute;
      bottom: 40px;
      left: 50px;

      button {
        font-size: 18px;
        padding: 10px 20px;
        margin-left: 20px;
        color: var(--color-mejor-1);
        background-color: var(--color-primary-3);
        border: 2px solid transparent;
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }

  #purchase {
    .purchase__wrap {
      button {
        font-weight: 700;
        margin-top: 20px;
        font-size: 20px;
        padding: 10px 20px;
        width: 100%;
        margin-left: 0px;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  header {
    .header__wrap {
      .header__content {
        .header__left {
          width: 78%;
          .header__logo {
            a {
              i {
                font-size: 16px;
                line-height: 25px;
                width: 25px;
                height: 25px;
                margin-right: 8px;
              }

              h2 {
                font-size: 20px;
                line-height: 30px;
                font-weight: 400;
              }
            }
          }

          .header__type {
            display: flex;

            h3 {
              font-size: 26px;
            }

            p {
              font-size: 9px;
              line-height: 1.5;
              padding-left: 8px;
            }
          }
        }

        .header__right {
          i {
            font-size: 20px;
          }

          .number__cart {
            width: 13px;
            height: 13px;
            line-height: 13px;
            font-size: 12px;
          }
        }
      }
    }
  }

  .product__section {
    .product__content {
      padding: 30px;
      .product__top {
        .product__top-title {
          flex: 1;
          h2 {
            font-size: 58px;
            margin-block-end: -14px;
          }

          p {
            font-size: 18px;
          }
        }

        .product__top-info {
          flex: 1;
          .product__top-img img {
            display: none;
          }

          .product__top-more {
            padding: 11px 18px;

            p {
              font-size: 14px;
            }

            .product__top-icon {
              height: 20px;
              width: 20px;
              font-size: 11px;

              line-height: 20px;
            }
          }
        }
      }

      .product__select {
        select {
          font-size: 18px;

          option {
            font-size: 18px;
          }
        }
      }

      .product__body {
        #product__list {
          grid-template-columns: repeat(2, 1fr);

          .product__item {
            height: 650px;
            padding: 0px 18px;
            margin-bottom: 20px;

            .product__item-detail {
              h2 {
                font-size: 20px;
              }

              h3 {
                font-size: 16px;
              }

              p {
                font-size: 15px;
                line-height: 2;
              }
            }

            .product__item-img {
              margin-top: 30px;
            }

            .product__cart-btn {
              button {
                padding: 8px 13px;

                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }

  #cartshow {
    height: 100vh;
    width: 100vw;
    display: none;

    .cart__header {
      position: relative;
      border-bottom: 2px solid var(--color-primary-3);

      h2 {
        font-size: 23px;
        font-weight: 400;
        margin: 8px 0;
      }

      i {
        font-size: 23px;
        position: absolute;
        top: 10%;
        right: 20px;
      }
    }

    .cart__body {
      p {
        font-size: 16px;
        padding: 10px 15px;
      }
    }

    .cart__footer {
      right: 15px;
      bottom: 25px;
      text-align: end;
      .cart__total {
        h3 {
          font-size: 20px;
          font-weight: 400;
          margin: 13px 0;
        }
      }

      .cart__btns {
        margin-top: 15px;

        button {
          font-size: 16px;
          padding: 7px 16px;
          margin-left: 8px;

          i {
            font-size: 15px;
            margin-left: 8px;
          }
        }
      }
    }
  }

  #verify {
    .verify__wrap {
      padding: 20px 30px;
    }

    .verify__list {
      display: flex;
      justify-content: space-between;
      padding: 0 15px;
      border-bottom: 2px solid var(--color-primary-3);

      p {
        font-size: 18px;
        font-weight: 700;
        padding: 10px 0;
      }
    }

    .verify__info {
      font-size: 16px;
      margin-top: 20px;
      padding: 0px 10px;
    }

    .verify__btns {
      position: absolute;
      bottom: 40px;
      left: 50px;

      button {
        font-size: 18px;
        padding: 10px 20px;
        margin-left: 20px;
        color: var(--color-mejor-1);
        background-color: var(--color-primary-3);
        border: 2px solid transparent;
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }

  #purchase {
    .purchase__wrap {
      width: 350px;
      h2 {
        font-size: 20px;
        font-weight: 700;
      }

      p {
        font-size: 15px;
        line-height: 2.5;
        border-bottom: 2px dashed #000;
      }

      button {
        margin-top: 20px;
        font-size: 16px;
        width: 100%;
        background-color: var(--color-primary-3);
        border: 2px solid transparent;
        border-radius: 10px;
        cursor: pointer;
        color: var(--color-mejor-2);
        padding-left: 0;
        margin-left: 0;
        transition: all 0.5s;

        &:hover {
          background-color: var(--color-mejor-2);
          color: var(--color-primary-3);
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 663px) {
  header {
    .header__wrap {
      .header__content {
        .header__left {
          width: 82%;
          .header__logo {
            a {
              i {
                font-size: 15px;
                line-height: 22px;
                width: 22px;
                height: 22px;
                margin-right: 8px;
              }

              h2 {
                font-size: 18px;
                line-height: 30px;
                font-weight: 400;
              }
            }
          }

          .header__type {
            display: flex;

            h3 {
              font-size: 23px;
            }

            p {
              font-size: 8px;
              line-height: 1.5;
              padding-left: 5px;
            }
          }
        }

        .header__right {
          i {
            font-size: 18px;
          }

          .number__cart {
            width: 13px;
            height: 13px;
            line-height: 13px;
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media (max-width: 575px) {
  header {
    .header__wrap {
      .header__content {
        .header__left {
          width: 84%;
          .header__logo {
            a {
              i {
                font-size: 13px;
                line-height: 20px;
                width: 20px;
                height: 20px;
                margin-right: 5px;
              }

              h2 {
                font-size: 16px;
                line-height: 30px;
                font-weight: 400;
              }
            }
          }

          .header__type {
            display: flex;

            h3 {
              font-size: 20px;
            }

            p {
              font-size: 8px;
              line-height: 1.3;
              padding-left: 5px;
              transform: translateY(30%);
            }
          }
        }

        .header__right {
          i {
            font-size: 18px;
          }
        }
      }
    }
  }

  .product__section {
    .product__content {
      padding: 30px;

      .product__top {
        .product__top-title {
          flex: 1;
          h2 {
            font-size: 45px;
            margin-block-end: -13px;
          }

          p {
            font-size: 14px;
          }
        }

        .product__top-info {
          flex: 1;
          .product__top-img img {
            display: none;
          }

          .product__top-more {
            margin-left: 10px;
            padding: 8px 13px;

            p {
              font-size: 13px;
            }

            .product__top-icon {
              height: 18px;
              width: 18px;
              font-size: 11px;

              line-height: 18px;
            }
          }
        }
      }

      .product__select {
        select {
          font-size: 16px;
          padding: 8px 13px;

          option {
            font-size: 16px;
          }
        }
      }

      .product__body {
        #product__list {
          grid-template-columns: repeat(1, 1fr);

          .product__item {
            height: 760px;
            padding: 0px 18px;
            margin-bottom: 20px;

            .product__item-detail {
              h2 {
                font-size: 20px;
              }

              h3 {
                font-size: 16px;
              }

              p {
                font-size: 15px;
                line-height: 2;
              }
            }

            .product__item-img {
              margin-top: 30px;
            }

            .product__cart-btn {
              button {
                padding: 12px 18px;

                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }

  #cartshow {
    height: 100vh;
    width: 100vw;
    display: none;

    .cart__header {
      h2 {
        font-size: 23px;
        margin: 8px 0;
      }

      i {
        font-size: 23px;
        top: 10%;
        right: 20px;
      }
    }

    .cart__body {
      p {
        font-size: 16px;
        padding: 10px 15px;
      }
    }

    .cart__footer {
      right: 15px;
      bottom: 25px;
      text-align: end;
      .cart__total {
        h3 {
          font-size: 20px;
          font-weight: 400;
          margin: 13px 0;
        }
      }

      .cart__btns {
        margin-top: 15px;

        button {
          font-size: 16px;
          padding: 7px 16px;
          margin-left: 8px;

          i {
            font-size: 15px;
            margin-left: 8px;
          }
        }
      }
    }
  }

  #verify {
    .verify__wrap {
      padding: 20px 30px;
    }

    .verify__list {
      display: flex;
      justify-content: space-between;
      padding: 0 15px;
      border-bottom: 2px solid var(--color-primary-3);

      p {
        font-size: 18px;
        font-weight: 700;
        padding: 10px 0;
      }
    }

    .verify__info {
      font-size: 16px;
      margin-top: 20px;
      padding: 0px 10px;
    }

    .verify__btns {
      position: absolute;
      bottom: 40px;
      left: 50px;

      button {
        font-size: 18px;
        padding: 10px 20px;
        margin-left: 20px;
        color: var(--color-mejor-1);
        background-color: var(--color-primary-3);
        border: 2px solid transparent;
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }

  #purchase {
    .purchase__wrap {
      width: 350px;
      h2 {
        font-size: 20px;
        font-weight: 700;
      }

      p {
        font-size: 15px;
        line-height: 2.5;
        border-bottom: 2px dashed #000;
      }

      button {
        margin-top: 20px;
        font-size: 16px;
        width: 100%;
        background-color: var(--color-primary-3);
        border: 2px solid transparent;
        border-radius: 10px;
        cursor: pointer;
        color: var(--color-mejor-2);
        padding-left: 0;
        margin-left: 0;
        transition: all 0.5s;

        &:hover {
          background-color: var(--color-mejor-2);
          color: var(--color-primary-3);
        }
      }
    }
  }
}
