/* ############################################ */
/* VARIABLES                                    */
/* ############################################ */

$bg-color-primary: #ffffff;
$bg-color-secondary: #f5f7ff;
$bg-btn: #103c82;
$bg-header: #f5f8ff;

$fc-primary: #232429;
$fc-secondary: #5f616a;
$fc-btn: #ffffff;
$fc-header: #103c82;

$border-color-primary: #e4e6ec;
$border-color-secondary: #ced7e9;

$scrollbar-track-color: #efeff1;
$scrollbar-thumb-color: #c2c5d0;
$scrollbar-thumb-hover-color: rgb(151, 170, 201);

$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;

/* ############################################ */
/* MIXINS                                       */
/* ############################################ */

@mixin header-hover {
  border: 2px solid $border-color-secondary;
  background-color: $bg-header;
  color: $fc-header;
}

@mixin table-overflow($width) {
  max-width: $width;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ############################################ */
/* CSS RESET                                    */
/* ############################################ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ############################################ */
/* GENERAL CSS                                  */
/* ############################################ */

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: $fc-primary;
  position: relative;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: $scrollbar-track-color;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: $scrollbar-thumb-color;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: $scrollbar-thumb-hover-color;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $bp-md) {
  .container {
    width: 750px;
  }
}

@media (min-width: $bp-lg) {
  .container {
    width: 970px;
  }
}

@media (min-width: $bp-xl) {
  .container {
    width: 1170px;
  }
}

.btn--pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  .btn--shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }

  .btn--edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      90deg,
      rgba(0, 79, 134, 1) 0%,
      rgba(16, 60, 130, 1) 35%,
      rgba(0, 160, 255, 1) 100%
    );
  }

  .btn--front {
    display: block;
    position: relative;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: $bg-btn;
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);

    i {
      border: 2px solid $bg-color-primary;
      border-radius: 50%;
      width: 25px;
      aspect-ratio: 1;
      display: inline-grid;
      place-content: center;
      transition: transform 300ms ease;
      margin-right: 0.5rem;
    }

    @media (min-width: $bp-md) {
      & {
        font-size: 1.25rem;
      }
    }
  }

  &:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
  }

  &:hover .btn--front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }

  &:active .btn--front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }

  &:hover .btn--shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }

  &:active .btn--shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

/* ############################################ */
/* LOADER                                       */
/* ############################################ */

.loader {
  position: absolute;
  width: 100%;
  height: calc(100vh);
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: none;
  place-content: center;
}

/* ############################################ */
/* HEADER                                       */
/* ############################################ */

header {
  border-bottom: 2px solid $border-color-primary;
  margin-bottom: 1rem;
  position: relative;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $fc-secondary;
    font-weight: 700;
    margin-block: 1rem;
    margin-top: 0;
    padding-top: 16px;
  }

  .header__icon {
    cursor: pointer;

    i {
      border: 2px solid $bg-btn;
      border-radius: 50%;
      font-size: 20px;
      width: 40px;
      aspect-ratio: 1;
      display: grid;
      place-content: center;
      color: $bg-btn;
      transition: background-color 300ms ease, color 300ms ease;

      &:hover,
      &:focus {
        background-color: $bg-btn;
        color: $fc-btn;
      }
    }

    @media screen and (min-width: $bp-md) {
      & {
        display: none;
      }
    }
  }

  .header__nav {
    background-color: $bg-btn;
    position: fixed;
    top: 0;
    height: 100%;
    width: 200px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: left 500ms ease-in-out;
    box-shadow: 0px 16px 24px 2px rgba(0, 0, 0, 0.14),
      0px 6px 30px 5px rgba(0, 0, 0, 0.12), 0px 8px 10px -7px rgba(0, 0, 0, 0.2);

    i {
      margin-top: auto;
      border-top: 2px solid $border-color-primary;
      padding: 0.5rem 1rem;
      width: 100%;
      display: grid;
      place-content: center;
      color: $fc-btn;
      cursor: pointer;
      position: relative;
      transition: color 300ms ease;

      &::before {
        z-index: 2;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 0%;
        height: 100%;
        background-color: $border-color-primary;
        z-index: 1;
        transition: width 300ms ease;
      }

      &:hover::after {
        width: 100%;
      }

      &:hover {
        color: $bg-btn;
      }
    }

    ul {
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      width: 95%;

      li {
        width: 100%;
        text-align: center;

        &.active > a {
          border: 2px solid $border-color-secondary;
        }

        a {
          padding: 0.5rem 1rem;
          display: inline-block;
          width: 100%;
          text-decoration: none;
          color: $fc-btn;
          border: 2px solid transparent;
          border-radius: 8px;
          transition: border 300ms ease;

          &:hover,
          &:focus {
            border: 2px solid $border-color-secondary;
          }
        }
      }
    }

    &[data-toggle='hide'] {
      left: -100%;
    }

    &[data-toggle='show'] {
      left: 0;
    }

    @media screen and (min-width: $bp-md) {
      & {
        position: relative;
        width: max-content;
        height: max-content;
        background-color: $bg-color-primary;
        justify-content: flex-start;
        box-shadow: none;

        i {
          display: none;
        }

        ul {
          flex-direction: row;
          margin: 0;
          gap: 0.5rem;

          li {
            &.active > a {
              @include header-hover();
            }

            a {
              padding: 0.25rem 0.5rem;
              color: $fc-secondary;

              &:hover,
              &:focus {
                @include header-hover();
              }
            }
          }
        }
      }

      &[data-toggle='hide'] {
        left: 0%;
      }
    }

    @media screen and (min-width: $bp-lg) {
      & > ul {
        gap: 1rem;

        & > li > a {
          padding: 0.5rem 1rem;
        }
      }
    }
  }

  .header__avatar {
    display: flex;
    align-items: center;
    gap: 1rem;

    & > i {
      width: 40px;
      aspect-ratio: 1;
      display: grid;
      place-content: center;
      border-radius: 50%;
      background-color: $bg-btn;
      color: $fc-btn;
    }

    div {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      cursor: pointer;
      transition: color 300ms ease;

      &:hover,
      &:focus {
        color: $bg-btn;
      }
    }
  }
}

/* ############################################ */
/* TITLE                                        */
/* ############################################ */

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;

  .title__heading {
    h1 {
      font-size: 32px;
      margin-bottom: 0.2rem;
    }

    p {
      font-size: 18px;
    }
  }

  .title__btn {
    display: flex;
    gap: 1rem;

    a {
      text-decoration: none;
    }
  }

  @media screen and (min-width: $bp-md) {
    & {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
    }
  }
}

/* ############################################ */
/* SEARCH INPUT                                 */
/* ############################################ */

.search {
  color: $fc-secondary;

  .container {
    position: relative;

    & > label {
      position: absolute;
      top: 50%;
      left: 2rem;
      transform: translateY(-50%);
    }

    & > input {
      width: 100%;
      border: 3px solid $border-color-primary;
      border-radius: 8px;
      padding: 0.5rem 2.5rem 0.5rem 2.5rem;
      transition: border 300ms ease;

      &::placeholder {
        color: $fc-secondary;
        opacity: 0.6;
      }

      &:hover,
      &:focus {
        outline: none;
        border: 3px solid $bg-btn;
      }
    }
  }

  label {
    cursor: pointer;

    i {
      transition: color 300ms ease;
    }

    &:hover > i,
    &:focus > i {
      color: $bg-btn;
    }
  }

  .search__icon {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: color 300ms ease;

    &:hover,
    &:focus {
      color: $bg-btn;
    }
  }

  .search__filter {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 15px;
    top: 110%;
    width: max-content;
    max-width: 250px;
    height: max-content;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-color: $bg-color-primary;
    transition: transform 300ms ease;
    z-index: 2;

    .search__filterDefault {
      visibility: visible;
      opacity: 1;
      border-bottom: 2px solid $border-color-primary;
      padding: 1rem;

      .search__filterItem {
        label {
          padding: 0.25rem 1rem;
        }
      }
    }

    .search__filterList {
      visibility: visible;
      opacity: 1;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      padding: 1rem;
    }

    .search__filterItem {
      position: relative;

      input {
        position: absolute;
        top: 0;
        left: 0;
        display: none;

        &:checked + label {
          border: 2px solid $bg-btn;
          background-color: $bg-header;
          color: $fc-header;
        }
      }

      label {
        padding: 0.25rem 0.5rem;
        display: inline-block;
        border: 2px solid $border-color-secondary;
        border-radius: 8px;
        transition: border 300ms ease, background-color 300ms ease,
          color 300ms ease;

        &:hover,
        &:focus {
          border: 2px solid $bg-btn;
          background-color: $bg-header;
          color: $fc-header;
        }
      }
    }

    &[data-popup-toggle='hide'] {
      transform: scale(0);
      transform-origin: top right;
    }

    &[data-popup-toggle='show'] {
      transform: scale(1);
      transform-origin: top right;
    }
  }
}

/* ############################################ */
/* TABLE                                        */
/* ############################################ */

.table {
  margin-top: 2rem;

  ::-webkit-scrollbar {
    height: 7px;
  }

  ::-webkit-scrollbar-track {
    background: $scrollbar-track-color;
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb-color;
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $scrollbar-thumb-hover-color;
  }

  .container--table {
    overflow-x: auto;
    padding: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    min-width: 1140px;

    thead {
      tr {
        background-color: $bg-btn;
        color: $fc-btn;
        text-align: left;

        th {
          div {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 0.3rem;

            i {
              font-size: 10px;
              transition: opacity 300ms ease, transform 300ms ease;
            }
          }

          &[data-sort-by] {
            cursor: pointer;
          }

          &:not([data-sort-order]) > div > i {
            visibility: hidden;
            opacity: 0;
          }

          &[data-sort-order='desc'] > div > i {
            visibility: visible;
            opacity: 1;
          }

          &[data-sort-order='asc'] > div > i {
            visibility: visible;
            opacity: 1;
            transform: rotate(180deg);
          }
        }
      }
    }

    th,
    td {
      padding: 0.5rem 1rem;
      text-align: left;
    }

    tbody {
      tr {
        border-bottom: 1px solid #dddddd;

        td {
          img {
            width: 40px;
            height: 40px;
            object-fit: contain;
            margin-inline: auto;
          }
        }

        td:nth-of-type(1) {
          div {
            display: flex;
            gap: 0.5rem;

            button {
              border: none;
              background-color: transparent;
              padding: 0;
              transition: color 300ms ease;
              cursor: pointer;

              i {
                font-size: 18px;
              }

              & > i:hover,
              & > i:focus {
                color: $bg-btn;
              }
            }
          }
        }

        td:nth-of-type(3) {
          div {
            @include table-overflow(100px);
          }
        }

        td:nth-of-type(5) {
          div {
            @include table-overflow(100px);
          }
        }

        td:nth-of-type(6) {
          div {
            @include table-overflow(100px);
          }
        }

        td:nth-of-type(7) {
          div {
            @include table-overflow(100px);
          }
        }

        td:nth-of-type(9) {
          div {
            @include table-overflow(150px);
          }
        }
      }

      tr:last-of-type {
        border-bottom: 2px solid $bg-btn;
      }
    }
  }
}

/* ############################################ */
/* NEW PRODUCT POPUP                            */
/* ############################################ */

.newProduct {
  transition: visibility 300ms ease, opacity 300ms ease;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  display: grid;
  place-content: center;

  @supports (backdrop-filter: blur(8px)) {
    backdrop-filter: blur(8px);
  }

  .newProduct__container {
    background-color: $bg-color-primary;
    overflow-y: auto;
    width: 100vw;
    padding: 0;

    h2 {
      padding: 2rem 2rem 0 2rem;
      font-size: 25px;
      font-weight: 900;
      text-align: center;

      @media screen and (min-width: $bp-md) {
        text-align: left;
      }
    }

    .newProduct__input {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 2.5rem;
      padding: 2rem 2rem 0 2rem;

      .form-group {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 5px;

        label {
          color: $fc-secondary;
        }

        input {
          border-radius: 8px;
          border: 2px solid $border-color-secondary;
          transition: border 300ms ease;
          color: $fc-secondary;
          padding-inline: 0.5rem;

          &:hover,
          &:focus {
            outline: none;
            border: 2px solid $bg-btn;
          }
        }

        span {
          display: none;
          color: #dc3545;
        }

        &.invalid {
          input {
            border: 2px solid #dc3545;
          }
        }

        @media screen and (min-width: $bp-md) {
          grid-template-columns: 150px 1fr;

          span {
            grid-column: 2 / -1;
          }
        }
      }

      .newProduct__btn {
        grid-column: 1 / -1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;
        gap: 1rem;

        .btn--pushable {
          width: 100%;
        }

        @media screen and (min-width: $bp-md) {
          flex-direction: row;
          justify-content: flex-end;

          .btn--pushable {
            width: auto;
          }
        }
      }
    }

    @media screen and (min-width: $bp-md) {
      border-radius: 8px;
      width: 80vw;
    }
  }

  &[data-popup-toggle='hide'] {
    visibility: hidden;
    opacity: 0;
  }

  &[data-popup-toggle='show'] {
    visibility: visible;
    opacity: 1;
  }
}
